body{
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.todocontainer {
    width: 300px;
    padding: 10px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border-radius: 20px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; /* Optional: removes bullet points if needed */
    padding: 5px;     /* Optional: add some padding for spacing */
}

.todo-item span {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds space between the checkbox and the text */
}

.todo-item p {
    margin: 0; /* Removes default margin for <p> */
}
.todo-btn{
    width: 100%;
    padding: 10px;
    border:nonw ;
    font-weight: bold;
    cursor: pointer;

}
.todo-item-text{
    margin: 5px;
}